<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Quendidate</title>
	<link href="~/css/style.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
	
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="thankyou">

    <div class="container">
		<div class="row sub-container">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="top-logos">
					<img src="/images/qendidate-logo.png" /> 
					<img src="/images/orion-logo.png"/>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12">
			 
				<div class="right-box">	
									
					<div class="form">					
						<h1>Thank you for <br/> Registering!</h1>
						<div class="tick">
							<img src="/images/green-tick.png" alt="Tick image" />
							<p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum neque enim, sed varius purus aliquam eget. Aenean a ultrices diam, non mattis diam.</p>
						</div>
						
					</div>
				</div>
			</div>
			<div class="left-text">
					<p>Achieve your dream by jumpstarting with Qendidate</p>
			</div>
			</div>
				
		</div>

    </div>
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    	$(window).resize(function(){
    $('.thankyou-right').css('height', $(window).height());
    // Comma, not colon ----^
});
    </script> 
  </body>
</html>